@import "config";

%err-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
}

%err-message {
    color: red;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    display: none;
}

body {
    height: 100%;
}

.main-container {
    min-height: 100vh;
    background-color: $red;
    background-image: url("../images/bg-intro-mobile.png");
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(376px) {
        background-image: url("../images/bg-intro-desktop.png");
    }
    @include mq(1024px) {
        flex-direction: row;
    }

    .main-title {
        color: white;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        line-height: 1.2em;
        padding: 1em 1em 0 1em;

        @include mq(1024px) {
            max-width: 540px;
            text-align: left;
            padding-left: 0;
            font-size: 3em;
        }
    }
    .main-subtitle {
        color: white;
        font-weight: 400;
        text-align: center;
        line-height: 1.5em;
        padding: 2em;

        @include mq(1024px) {
            max-width: 540px;
            text-align: left;
            padding-left: 0;
        }
    }
    .main-content {
        .main-offer {
            padding: 1em 3.2em;
            margin: 1em;
            background-color: $blue;
            color: white;
            border-radius: 0.5em;
            text-align: center;
            font-weight: 400;
            line-height: 1.5em;
            box-shadow: 0 7px rgba(0, 0, 0, 0.2);

            strong {
                font-weight: 600;
            }
        }
        .form {
            margin: 1em;
            padding: 1em;
            background-color: white;
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;

            @include mq(1024px) {
                padding: 2em;
            }

            &-input {
                position: relative;
                margin-bottom: 1.2em;
            }
            label {
                display: none;
            }
            input {
                margin-bottom: 5px;
                width: 100%;
                padding: 1em;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                border: 1px solid $gray-blue;
                border-radius: 0.5em;
                outline-style: none;
            }
            input:focus {
                border: 1px solid $blue;
            }
            #first-name-err-icon,
            #last-name-err-icon,
            #email-err-icon,
            #password-err-icon {
                @extend %err-icon;
            }
            #first-name-err-message,
            #last-name-err-message,
            #email-err-message,
            #password-err-message {
                @extend %err-message;
            }
            .button {
                margin-bottom: 1em;
                width: 100%;
                padding: 1em;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.1em;
                color: white;
                background-color: $green;
                border: none;
                border-radius: 0.5em;
                box-shadow: 0 3px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
            .button:hover {
                background-color: lighten($color: $green, $amount: 10%);
            }
            .terms {
                font-size: 0.8em;
                line-height: 1.5em;
                text-align: center;
                padding: 0 1em;
                color: $gray-blue;
                &-link {
                    color: $red;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
    }
}
